{% extends "layout.njk" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <h1>{{ title }}</h1>
  <ul>
    {% for book in genreBooks %}
      <li>
        <a href="{{ book.url }}">{{ book.title }}</a>
        <p>
          {{ book.summary }}
        </p>
      </li>
    {% else %}
      <li>No books in the genre.</li>
    {% endfor %}
  </ul>
{% endblock %}