{% extends "layout.njk" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block main %}
  <h1>{{ title }}</h1>
  <ul>
    {% for genre in genreList %}
      <li>
        <a href="{{ genre.url }}">{{ genre.name }}</a>
      </li>
    {% else %}
      <li>No genres listed.</li>
    {% endfor %}
  </ul>
{% endblock %}