body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #07a7cf;
}

main {
  margin-top: 3rem;
}

.sidebar {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.available {
  color: rgb(23, 101, 219);
}
